.idea
/service/contract/contract
/service/property/property
/service/message/message
/service/follower/follower
/service/oop/oop
/service/report/report
/service/search/search
/service/userInfo/user_info
/service/userRegister/userRegister
/cmd/api/web

bin/
log/
vendor/
/service/**/user_info
/service/**/vendor/
/service/**/log/
/service/**/*.tar.gz
cmd/api/log/

stdout.log
go.sum
cmd/api/docs
